html
	box-sizing: border-box
	font-size: 16px
	min-height: 100%

*, *:before, *:after
	box-sizing: inherit

body
	font-family: 'Open Sans', sans-serif
	height: 100%
	margin: 0
	padding: 0

ul
	padding: 0
	margin: 0
	list-style: none

p
	padding: 0
	margin: 0

a
	text-decoration: none

.container
	height: 100%
	margin: 0 auto
	max-width: 1170px
	padding: 0 15px
	position: relative
	text-align: center

h1.h1
	color: #000
	font: 48px/64px inherit
	margin: 0
	text-align: left

h2.h2
	color: #000
	font: 36px/54px inherit
	margin: 0
	text-align: left

h3.h3
	color: #000
	font: 26px/26px inherit
	margin: 0
	text-align: left

.text
	color: $blue-dark
	font: 20px/32px inherit
	text-align: left
