html
	box-sizing: border-box
	font-size: 16px
	min-height: 100%

*, *:before, *:after
	box-sizing: inherit

body
	background: $grey-xlight
	font-family: 'Open Sans', sans-serif
	height: 100%
	margin: 0
	padding: 0

ul
	list-style: none
	margin: 0
	padding: 0

p
	padding: 0
	margin: 0

a
	text-decoration: none

.container
	display: flex
	height: 100%
	margin: 0 auto
	max-width: 1170px
	position: relative
	text-align: center

	&.p-0

.input-block
	position: relative

	input
		background: none
		border: none
		outline: none
		padding: 0
		position: relative
		width: 100%

.btn
		background: $blue
		border: none
		border-radius: 2px
		color: #fff
		cursor: pointer
		padding: 14px 36px
		text-transform: uppercase
		transition: background .3s
		width: 100%

		&:hover
			background: $blue-dark

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
